<!DOCTYPE html>
<html lang="en" class="">
<head>
  <%- include('../partials/head', { title: 'Markdowon for Park Kruger' }); -%>
</head>
<body>
<div class="app app-header-fixed " id="editor">
  

  <!-- header -->
  <%- include('../partials/header'); -%>
  <!-- / header -->


  <!-- aside -->
  <%- include('../partials/aside'); -%>
  <!-- / aside -->


  <!-- content -->
  <div id="content" class="app-content" role="main">
  	<div class="app-content-body ">
	    

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Form Elements</h1>
</div>
<div class="wrapper-md" ng-controller="FormDemoCtrl">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
          <div class="panel panel-default">
          <div class="panel-heading font-bold">Markdown Editor</div>
          <div class="panel-body">
            <form role="form">
              
              <div class="form-group">
                <textarea :value="input" @input="update" class="form-control" style="height: 300px;"></textarea>
              </div>
              
              
              <button type="submit" class="btn btn-sm btn-primary" v-on:click="send">Send to firebase</button>
              <code>{{response}}</code>
            </form>
          </div>
        </div>  
      </div>
      
      <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">Markdown Editor</div>
            <div class="panel-body">
              <code>{{message}}</code>
            </div>
        </div>  
      </div>
      
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Markdown Preview</div>
        <div class="panel-body">
          <div v-html="compiledMarkdown"></div>
        </div>
      </div>
    </div>
  </div>
  
</div>



	</div>
  </div>
  <!-- /content -->
  
  <!-- footer -->
  <%- include('../partials/footer'); -%>
  <!-- / footer -->



</div>

<%- include('../partials/javascripts'); -%>

<script src="https://unpkg.com/marked@0.3.6"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>
<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
<script src="https://unpkg.com/vue-resource@1.1.1/dist/vue-resource.min.js"></script>
<script type="text/javascript">
//your object
var myVar = <%- JSON.stringify(markdown) %>;
console.log(myVar.replace(/(\n\n)/gm,"\n"));
  new Vue({
  el: '#editor',
  data: {
    input: myVar.replace(/(\n\n)/gm,"\n"),
    message: '',
    data: '',
    response: ''
  },
  computed: {
    compiledMarkdown: function () {
      return marked(this.input, { sanitize: true })
    }
  },
  methods: {
    update: _.debounce(function (e) {
      this.input = e.target.value
      this.message = e.target.value.replace(/(\r\n|\n|\r)/gm,"\n\n");
    }, 300),
    send: function (e) {
      e.preventDefault();
      var msg = { msg: this.input.replace(/(\r\n|\n|\r)/gm,"\n\n") }
      
      this.$http.post('/dashboard/markdown', msg).then(response => {
        // success callback
        console.log("response:");
        console.log(response.body);
        this.response = response.body
      }, response => {
        // error callback
        console.log(response);
      });

      
    }
  }
})
</script>

</body>
</html>
